
.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1C0B2B;
    padding: 10px;
}

.logo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo img {
    max-width: 100%;
    height: auto;
}

/* Menu */
.menu {
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: #ffffff;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
    margin-top: 10px;
    padding: 0;
    list-style: none;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.contato, .projetos, .integrantes {
    padding: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.site {
    background-image: radial-gradient(#413B6B, #251434 75%, #241233); 
    font-family: "JetBrains Mono", monospace;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.interior {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    font-family: "Michroma", sans-serif;
    font-size: 24px;
    text-align: left;
    margin-top: 20px;
}

.texto {
    margin-top: 20px;
    list-style: none;
    text-align: center;
}

.texto2 {
    padding-top: 20px;
}

.loca {
    border: #ffffff solid 10px;
    margin-top: 30px;
    width: 100%;
    max-width: 600px;
    height: auto;
}

.locali {
    font-size: 36px;
    font-family: "Michroma", sans-serif;
    color: #ffffff;
    margin-top: 20px;
}


@media (min-width: 601px) {
    .menu {
        justify-content: flex-start;
        padding-left: 42%;
        font-size: 35px;
    }

    .interior {
        flex-direction: row;
        justify-content: space-between;
    }

    .texto {
        text-align: left;
        margin-right: 160px;
    }

    .loca {
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    .locali {
        font-size: 44px;
        text-align: right;
        margin-left: auto;
        margin-right: 20px;
    }
}